<div class="row">

  <button type="text" (click)="display = true" pButton icon="fa fa-list" label="Show"></button>

  <p-sidebar [(visible)]="display">
    <div class="center-avatar">
      <ng-container *ngIf="(pictureUrl$ | async) as pictureUrl">
        <img class="user-avatar" [src]="pictureUrl" >
      </ng-container>
    </div>


    <!-- Sidebar -->

    <div id="sidebar-wrapper">
      <div class="sidebar-heading">Main Menu</div>
      <div class="list-group list-group-flush">
        <a routerLink="/work-shift-allocator" routerLinkActive="active" class="list-group-item list-group-item-action">
          Calendar
        </a>

        <a routerLink="/register"
           routerLinkActive="active"
           *ngIf="isLoggedOut$ | async"
           class="list-group-item list-group-item-action"
           (click)="display = false">
          Register
        </a>

        <a routerLink="/login"
           routerLinkActive="active"
           *ngIf="isLoggedOut$ | async"
           class="list-group-item list-group-item-action"
           (click)="display = false">
          Login
        </a>

        <a (click)="logout()"
           routerLink="/logout"
           routerLinkActive="active"
           *ngIf="isLoggedIn$ | async"
           class="list-group-item list-group-item-action"
           (click)="display = false">
          Logout
        </a>
      </div>
    </div>


  </p-sidebar>



</div>
