<div class="row">
  <div class="col-12">

    <div class="container">
        <div class="row">

          <div class="col-4">
            <app-people-list></app-people-list>
          </div>
          <div class="col-8">
            <app-fullcalendar></app-fullcalendar>
            </div>
          </div>
    </div>
  </div>
</div>
