<div class="container" id="container-custom-event-data">
  <div class="row">
    <div class="col-6">
      <p>Start Time:</p>
      <p-calendar [(ngModel)]="startTime" [timeOnly]="true" (onSelect)="changeDate()"></p-calendar>
    </div>
    <div class="col-6">
      <p>End Time:</p>
      <p-calendar [(ngModel)]="endTime" [timeOnly]="true" (onSelect)="changeDate()"></p-calendar>
    </div>
  </div>


</div>
