<p-selectButton [options]="workShiftTypes" [(ngModel)]="selectedShift" optionLabel="name"></p-selectButton>
<!--<p>Selected Work Shift: {{selectedShift ? selectedShift.value : 'none'}}</p>-->

<div class="custom_sift" *ngIf="selectedShift.value == 'custom'">
  <app-custom-event-date-selector
                (notifyStartEndTime)="onChangeCustomShiftDate($event)">
  </app-custom-event-date-selector>
</div>

<div #draggable_people>

  <p-orderList [value]="people" [listStyle]="{'height':'400px'}" header="People"
    filter="filter" filterBy="name" filterPlaceholder="Filter by name" dragdrop="true">
    <!--<people-list-item></people-list-item>-->
    <ng-template let-person pTemplate="item">
      <people-list-item [person]="person"></people-list-item>
    </ng-template>


  </p-orderList>
</div>
