<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog header="Same person inserted in the same work shift" [(visible)]="isShiftSame">
  <p>You can not insert the same persone into the same work shift.</p>
  <p>Please, insert another person.</p>
</p-dialog>

<div class="content-section implementation">
  <p-fullCalendar #fullcalendar
                  [events]="events"
                  [options]="options">
  </p-fullCalendar>
</div>



